@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 0.5s;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  border: none;
  margin: 0;
}

.content {
  display: flex;
  align-items: flex-start;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: var(--main-text-light-color);
  text-decoration: none;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 5px;
  color: var(--secondary-text-light-color);
}

.itemNumber {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 12px;
  margin-top: 4px;
  color: var(--secondary-text-light-color);
}

.itemUrl {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: var(--secondary-text-light-color);
  margin-left: 10px;
}

.comments {
  cursor: pointer;
  color: var(--secondary-text-light-color);
}

.comments:hover {
  text-decoration: underline;
}
