:root {
  --main-brand-color: #fe7139;
  --main-text-light-color: #000000;
  --secondary-text-light-color: #00000080;
}

.main-container {
  border-top: var(--main-brand-color);
  border-top-style: solid;
  border-top-width: 4px;
}
